.navigation__item {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    padding-left: 35px;
    margin-bottom: 15px;
    list-style-type: none;
    position: relative;
    display: inline-block;
}

.navigation__item::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid var(--main-text-color);
    background: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.navigation__item a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.navigation__item:hover::before {
    background: var(--main-text-color);
}