.promo {
    height: 100vh;
    background-image: url("../../../assets/images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 58% top;
    position: relative;
}