:root {
    --main-color: #FFA501;
    --hover-color: #ffb636;
    --hover-text-color: #424242;
    --main-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --window-bg-color: rgba(255, 255, 255, 0.75);
    --error-color: #ff0101;
    --success-color: #187503;
}